<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Pelanggan Baru</h1>
        </div>
            <div class="row justify-content-center my-5">
                <div class="col-lg-6">
                    <form action="/daftar" method="post">
                        <label for="nomor" class="form-label">Nomor Meja</label>
                        <input 
                            type="text" 
                            id="nomor" 
                            name="nomor" 
                            class="form-control"
                        /><br>
                        <label for="jumlah" class="form-label">Jumlah Pelanggan</label>
                        <input 
                            type="text" 
                            id="jumlah" 
                            name="jumlah" 
                            class="form-control"
                        /><br>
                        <label for="waktu" class="form-label">Waktu Pemesanan</label>
                        <input 
                            type="text" 
                            id="waktu" 
                            name="waktu" 
                            class="form-control"
                        /><br>

                        <label for="pelayanan" class="form-label">Pelayanan</label>
                        <select name="pelayanan" id="pelayanan" class="form-select">
                            <option value="sudah">Sudah</option>
                            <option value="belum">Belum</option>
                        </select><br>

                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Tambah">
                        </div>
                    </form>
                </div>
            </div>
 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>