<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <%- include('../templat/head'); %>
</head>
<body style="background: lightgray" class="text-center" >

    <div class="container mt-5 ">
        <div class="text-center">
            <div class="row">
                <div class="col-md-15">
                    <div class="card border-0 shadow rounded">
                        <div class="card-body">
                            <h1>HAPUS!</h1><br>
                            <form action="/daftar/<%= id %>/delete" method="post">
                                <div class="form-group">
                                    <p>Apakah anda ingin menghapus data pelanggan</p>
                                    <p>yang sedang duduk dimeja nomor ( <%= nomor %> ) ?</p>
                                </div><br>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <button class="btn btn-danger me-md-2" type="submit">! YA !</button>
                                    <a href="/daftar" class="btn btn-md btn-primary">BATAL</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../templat/body'); %>
</body>
</html>

