<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <%- include('../templat/head'); %>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Tambah Menu</h1>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-lg-6">
                        <form action="/menu" method="post">
                            <label for="nama" class="form-label">Nama</label>
                            <input 
                                type="text" 
                                id="nama" 
                                name="nama" 
                                class="form-control"
                            />
                            <% if (messages.error_nama) { %>
                                <div class="alert alert-danger" role="alert"><%- messages.error_nama %></div>
                            <% } %><br>
                              
                            <label for="harga" class="form-label">Harga</label>
                            <input 
                                type="text" 
                                id="harga" 
                                name="harga" 
                                class="form-control"
                            />
                            <% if (messages.error_harga) { %>
                                <div class="alert alert-danger" role="alert"><%- messages.error_harga %></div>
                            <% } %><br>

                            <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Tambah">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 
    </div>
    <%- include('../templat/body'); %>
</body>
</html>



