<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <a href="latihan/x1" class="btn btn-md btn-success mb-3">X1></a><br>
    <a href="latihan/x2" class="btn btn-md btn-success mb-3">X2></a><br>
    <a href="latihan/x3" class="btn btn-md btn-success mb-3">X3></a><br>
    <a href="latihan/x4" class="btn btn-md btn-success mb-3">X4></a><br>
</body>
</html>